#fotoAbout{
  width: 180px;
  object-fit: contain;
  margin: 1rem;
}
.About .width100{
  max-width: 500px !important;
}
.About .containerAbout i{
  font-size: 40px;
  font-weight: 600;
}
#linkabout{
  font-weight: 300;
}
#Fecha{
  font-size: 18px;
  font-weight: 400;
}
.borderRadiosAbout{
  border-radius: 50%;
}
.About .margin{
  margin: 1rem !important;
} 
.About .padding{
  padding: 1rem !important;
}
#AboutIcon{
  padding: 0.5rem;
  margin-right: 4px;
}
#AboutIcon, #AboutIcon i{
  font-weight: 300 !important;
}
#AboutIcon i{
  animation: Rotate 4s linear infinite;
}
#AboutIcon:hover, #AboutIcon a{
  margin: 0px;
  padding: 0px;
  color: #333;
  background-color: transparent !important;
}

#AboutIcon span{
  font-size: 15px;
  text-decoration: underline;
}
@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  #AboutIcon{
    padding: 0.5rem;
    width: 100% !important;
  }
  #fotoAbout{
    width: 50px;
    object-fit: contain;
    margin: 1rem;
  }
  .About .margin{
    margin: 0.5rem !important;
  } 
  .About .padding{
    padding: 0.5rem !important;
  }
  .About .width100{
    max-width: 100% !important;
  }
}